<ion-view view-title="Native Apps access">
  <ion-content class="padding">

    <style>

    </style>

    <h2>Access links</h2>


    <a href="tel:+1800229933">
      <button class="button button-calm">Call us free!
      </button>
    </a>
    <br/>
    <a href="facetime://5555555555">
      <button class="button button-calm">Call us free using Facetime!
      </button>
    </a>
    <br/>
    <a href="skype:skype_user?call">
      <button class="button button-calm">Call us using Skype!
      </button>
    </a>
    <br/>
    <a href="https://www.youtube.com/watch?v=7NiRQbzbHyY">
      <button class="button button-calm">Open youtube!
      </button>
    </a>
    <br/>
    <a href="geo:38.897096,-77.036545">
      <button class="button button-calm">Open maps!
      </button>
    </a>
    <br/>

  </ion-content>
</ion-view>
